package views

templ RequestCount(cantidad int, alias, email string) {
	<button
		id="pedidos-recibidos"
		type="button"
		hx-get={ "/listRequestsTo?to_alias=" + alias + "&email=" + email }
		hx-target="#tabla-pedidos-container"
		hx-swap="innerHTML"
		hx-on:htmx:before-request="toggleActiveButton(this); containerStatus();"
		hx-on:htmx:after-request="document.getElementById('tabla-pedidos-container').classList.remove('oculto');"
		hx-swap-oob="true"
	>
		Pedidos recibidos
		if (cantidad != 0) {
			<span id="request-count">{ cantidad }</span>
		}
	</button>
}
