package views

import (
	"golang.org/x/text/language"
	"golang.org/x/text/message"
	"strconv"
)

templ SetInfo(alias, balance, email, last_movement string) {
	<div class="tarjeta-balance">
		<label>Balance</label>
		<span id="balance">
			if balance != "" {
				$ { balanceFormateado(balance) } ARS
			} else {
				$ 0.00 ARS
			}
		</span>
	</div>
	<div class="tarjetas">
		<div class="info">
			<label>Alias</label>
			<span>{ alias }</span>
		</div>
		<div class="info">
			<label>Email</label>
			<span>{ email }</span>
		</div>
		<div class="info">
			<label>Ultimo movimiento</label>
			<span>
				if last_movement != "" {
					{ last_movement }
				} else {
					- 
				}
			</span>
		</div>
	</div>
}

func balanceFormateado(balance string) string {
	printer := message.NewPrinter(language.Spanish)
	balance_float, _ := strconv.ParseFloat(balance, 64)
	balance_formateado := printer.Sprintf("%.2f", balance_float)
	return balance_formateado
}
