package views 

import sqlc "TP_Especial/db/sqlc"

templ GetMovements(movimientos []sqlc.GetHistoryRow) {
	if (len(movimientos) == 0) {
		<h3>No tienes movimientos realizados por el momento...</h3>
	} else {
		<table id="tabla-pedidos">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Monto</th>
					<th>Dia</th>
					<th>Hora</th>
				</tr>
			</thead>
			<tbody>
				for _, mov := range movimientos {
					<tr>
						<td>{ mov.Type }</td>
						<td>$ { mov.Amount }</td>
						<td>{ mov.Day }</td>
						<td>{ mov.Time }</td>
					</tr>
				}
			</tbody>
		</table>
	}
}
