<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu cuenta</title>
    <link href="./css/generales.css" rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet">
    <link href="./css/bienvenida.css" rel="stylesheet">
</head>
<body>
      <div class="main-container">
            <div class="two-column-layout">
                  <div class="info-column">
                        <div class="action-header">
                              <div class="volver-inicio">
                                    <a href="/">
                                          <button type="button">
                                                <img src="./img/back-svgrepo-com.svg" alt="Volver al inicio">
                                          </button>
                                    </a>
                                    <h3>Volver al inicio</h3>
                              </div>
                              <div class="recarga">
                                    <h3>Actualizar información</h3>
                                    <button type="button" onclick="recargarPagina()">
                                          <img src="./img/reload-svgrepo-com.svg" alt="Recargar página">
                                    </button>
                              </div>
                        </div>
                        <div class="header">
                              <h2>Tu Información, {{.Name}}</h2> 
                        </div>
                        <div class="info-principal">
                              <div class="tarjeta-balance">
                                    <label>Balance</label>
                                    <span id="balance">
                                          {{if .Balance}}
                                          $ {{.Balance}} ARS
                                          {{else}}
                                          $ 0.00 ARS
                                          {{end}}
                                    </span>
                              </div>
                              <div class="tarjetas">
                                    <div class="info">
                                          <label>Alias</label>
                                          <span>{{.Alias}}</span>
                                    </div>
                                    <div class="info">
                                          <label>Email</label>
                                          <span>{{.Email}}</span>
                                    </div>
                                    <div class="info">
                                          <label>Ultimo movimiento</label>
                                          <span>
                                                {{if .LastMovementType}}
                                                {{.LastMovementType}}
                                                {{else}}
                                                - 
                                                {{end}}
                                          </span>
                                    </div>
                              </div>
                        </div>
                        <div class="footer">
                              <a>
                                    <button id="boton-pedidos" type="button" onclick="displayPedidos()">Pedidos de dinero</button>
                              </a>
                        </div>
                        <table id="tabla-pedidos" class="tabla-pedidos-unactive">
                              <thead>
                                    <tr>
                                          <th>Pedidor</th>
                                          <th>Monto</th>
                                          <th>Mensaje</th>
                                          <th>Dia</th>
                                          <th>Hora</th>
                                    </tr>
                              </thead>
                              <tbody>
                                    {{range .Mensajes}}
                                    <tr>
                                          <td>{{.FromAlias}}</td>
                                          <td>$ {{.Amount}}</td>
                                          <td id="mensaje">{{.Message.String}}</td>
                                          <td>{{.Day}}</td>
                                          <td>{{.Time}}</td>
                                    </tr>
                                    {{end}} 
                              </tbody>
                        </table>
                  </div>

                  <div class="form-column">
                        <h2>Operaciones</h2>

                        <div class="operaciones-buttons">
                              <button type="button" onclick="mostrarFormulario('form-deposito')">Depositar</button>
                              <button type="button" onclick="mostrarFormulario('form-retiro')">Retirar</button>
                              <button type="button" onclick="mostrarFormulario('form-transferencia')">Transferir</button>
                              <button type="button" onclick="mostrarFormulario('form-pedido')">Pedir</button>
                        </div>

                        <div id="form-deposito" class="operation-form form-visible">
                              <h3>Realizar Depósito</h3>
                              <form action="/deposit" method="POST">
                                    <div class="form-group">
                                          <label for="dep-alias-destino">Alias destino:</label>
                                          <input type="text" id="dep-alias-destino" name="alias" value="{{.Alias}}" readonly>
                                    </div>
                                    <div class="form-group">
                                          <label for="dep-monto">Monto:</label>
                                          <input type="number" id="dep-monto" name="amount" required>
                                    </div>
                                    <button type="submit" class="login-button">Confirmar Depósito</button>
                              </form>
                        </div>

                        <div id="form-retiro" class="operation-form">
                              <h3>Realizar Retiro</h3>
                              <form action="/withdrawal" method="POST">
                                    <div class="form-group">
                                          <label for="ret-alias-origen">Tu Alias:</label>
                                          <input type="text" id="ret-alias-origen" name="alias" value="{{.Alias}}" readonly>
                                    </div>
                                    <div class="form-group">
                                          <label for="ret-monto">Monto:</label>
                                          <input type="number" id="ret-monto" name="amount" required>
                                    </div>
                                    <button type="submit" class="login-button">Confirmar Retiro</button>
                              </form>
                        </div>

                        <div id="form-transferencia" class="operation-form">
                              <h3>Realizar Transferencia</h3>
                              <form action="/transfer" method="POST">
                                    <div class="form-group">
                                          <label for="trans-alias-origen">Alias origen:</label>
                                          <input type="text" id="trans-alias-origen" name="own_alias" value="{{.Alias}}" readonly>
                                    </div>
                                    <div class="form-group">
                                          <label for="trans-alias-destino">Alias destino:</label>
                                          <input type="text" id="trans-alias-destino" name="other_alias" required>
                                    </div>
                                    <div class="form-group">
                                          <label for="trans-monto">Monto:</label>
                                          <input type="number" id="trans-monto" name="amount" required>
                                    </div>
                                    <button type="submit" class="login-button">Confirmar Transferencia</button>
                              </form>
                        </div>

                        <div id="form-pedido" class="operation-form">
                              <h3>Pedir dinero</h3>
                              <form action="/moneyRequest" method="POST">
                                    <div class="form-group">
                                          <label for="trans-alias-origen">Alias origen:</label>
                                          <input type="text" id="trans-alias-origen" name="from_alias" value="{{.Alias}}" readonly>
                                    </div>
                                    <div class="form-group">
                                          <label for="trans-alias-destino">Alias destino:</label>
                                          <input type="text" id="trans-alias-destino" name="to_alias" required>
                                    </div>
                                    <div class="form-group">
                                          <label for="pedido-monto">Monto:</label>
                                          <input type="number" id="pedido-monto" name="amount" required>
                                    </div>
                                    <div class="form-group">
                                          <label for="pedido-mensaje">Mensaje:</label>
                                          <input type="text" id="pedido-mensaje" name="message">
                                    </div>
                                    <button type="submit" class="login-button">Confirmar Pedido</button>
                              </form>
                        </div>
                  </div>
            </div>
      </div>

    <script src="./js/script.js"> </script>
</body>
</html>
